<!-- footer section starts -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Keith's Portfolio</h3>
            <p>Thanks for visiting! Reach out for a quote! Even if you don't know whether I can
                solve your issue, I'm happy to chat.
            </p>
        </div>

        <div class="box">
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-envelope"></i><span class="nonSelectable">
                keithwthomas1
                <img width="16px" height="16px" src="images/@_white.png"/>
                gmail.com</span>
            </p>
            <p> <i class="fas fa-map-marked-alt"></i>Chicago, IL</p>
            <div class="share">
                <a href="https://www.linkedin.com/in/keith--thomas/" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/kryzodoze" class="fab fa-github" target="_blank"></a>
                <a href="https://twitter.com/Kryzodoze" class="fab fa-twitter" target="_blank"></a>
            </div>
        </div>
    </div>

    <a href="https://www.flaticon.com/free-icons/email" title="email icons">@ icons by Ilham Fitrotul Hayat - Flaticon</a>
</section>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60ed75a3649e0a0a5ccbf5d0/1fafp7262';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<!-- footer section ends -->