<!-- navbar starts -->
<header>
    <span>Keith the Freelancer</span>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#work">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
        </ul>
    </nav>
</header>
<!-- navbar ends -->